@charset "UTF-8";

.main-contents .map{
    height: 600px;
    width: 80%;
}

/* スマホの場合 */
@media screen and (max-width:520px) {
    .main-contents .map{
        height: 400px;
        width: 80%;
    }
}